.profile {
    p {
        margin-bottom: 1rem;
    }
    button {
        padding: 0.7rem 2rem;
        background: #bc3338;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
}
